<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/login_register.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">

    <title>Historial</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-blueObsc">
        <%- include('./partials/navbarGlobal'); %>
    </nav>
    <header class="text-center" style="background-color:rgb(20, 43, 76); color: white;">
        <h3 class="title p-2">Historial</h3>
    </header>
    <!-- Card de historial -->
    <div class="container-sm">
        <h1 style="text-align: center; color: rgb(233, 96, 96); margin-top: 15px;">
            <%= mensaje%>
        </h1>
        <% avisos.forEach(aviso => { %>
            <div class="card mb-3 card-bg" style="max-width: 100%">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= aviso.titulo  %>
                            </h5>
                            <p class="card-text">
                                <%= aviso.descripcion  %>
                            </p>
                            <p class="card-text"><small class="text-muted">Fecha de publicación: <%= aviso.fechaPublicacion  %> </small></p>
                            <p class="card-text"><small class="text-muted"> <%= aviso.usuario  %> - <%= aviso.departamento  %> </small></p>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
    <script src="assets/js/size_display.js"></script>
</body>

</html>